


.header_container {
    display: grid;
    grid-template-columns: repeat(5, 20% );
    background-color: rgb(30, 61, 63, 1);
    max-height: 65rem;
    padding-top: 11.5rem;

    grid-auto-flow: column;
    scale: inherit;
}

.header_container h1 {
    --scaler: 13vw;
    --text-huge-size : 15.0rem;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    color: rgb(232, 230, 227);
    transform: translateY(0px);
    opacity: 1;
    line-height: 1;
    letter-spacing: -0.050em;
    z-index: 1;
   grid-column: 1/6;
    display: grid;
    justify-items: center;
    scale: inherit;
 
}

.intro-header {

    grid-column-start: 2;
    grid-column-end: 5;
    grid-template-columns: repeat(5, 20%);
    display: grid;
    justify-items: center;
}


.below-introheader {
    --scaler: 2.3vw;
    --maxFontSize: 2rem ;
    line-height: 1.0998;
    letter-spacing: -.01em;
    padding-top: 3rem;
    grid-row: 2;
    z-index: 1;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    justify-content: center;
    grid-column: 2 / 5;
    display: grid;
}

.mas {

    color: hsla(336, 13%, 26%, 1)
}

.header_img {
    margin-top: -10rem;
    display: grid;
    aspect-ratio: 1/1;
    background-image: url(https://zackdiaz.com/images/intro-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    z-index: 0;
}

.header_img:after {
    transition: transform 3s ease-in;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, black 5%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    opacity: .12;
}



-webkit-tap-highlight-color: rgba(232, 230, 227, 0);