:root {
    --vspace-1      : 1.2rem;
    --vspace-2      : 1.6rem;
    --vspace-2_5    : 1.8rem;
    --vspace-3      : 2.4rem;
    --vspace-4      : 3.2rem;
    --vspace-5      : 4.8rem;
    --vspace-6      : 6.4rem;
    --vspace-7      : 9.6rem;
    --vspace-8
/* -------------------------------------------------------------------
 * ## grid variables
 * ------------------------------------------------------------------- */
    /* widths for rows and containers
     */
    --width-full     : 100%;
    --width-max      : 1200px;
    --width-wide     : 1400px;
    --width-wider    : 1600px;
    --width-widest   : 1800px;
    --width-narrow   : 1000px;
    --width-narrower : 800px;
    --width-grid-max : var(--width-max);

    /* gutter
     */
    --gutter         : 2rem;
}

/* on medium screen devices
 */
@media screen and (max-width: 1200px) {
    :root {
        --gutter : 1.8rem;
    }
}

/* on mobile devices
 */
@media screen and (max-width: 600px) {
    :root {
        --gutter : 1rem;
    }

}


/* ===================================================================
 * # FOOTER
 *
 *
 * ------------------------------------------------------------------- */
.footer {
    display: grid;
    padding-top: 20rem;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows:3;
    padding-bottom : var(--vspace-2_5);
    font-weight    : 300;
    position       : relative;
    margin-bottom: var(--vspace-2);
}

.contact-header {
    display: grid;
    margin-bottom : var(--vspace-2);
    grid-row: 2;
    grid-column: 2/5;
    justify-content: space-between;

}

.s-footer__social {
    padding-top: 3vh;
}

.business {
    grid-column : 1;
    grid-row: 2;
  
}

.footer-contact {

    grid-column : 5/6;
    grid-row:2;
}

.getintouch {
    grid-row: 1;
    grid-column: 2/4;
    margin-bottom: var(--vspace-2);
    max-width: var(--width-grid-max);
    justify-items:self-start;
}

.ss-copyright {
    grid-column: 2;
    grid-row: 3;
    display: inline-block;
    font-size: var(--text-sm);
    line-height: var(--vspace-0_75);
    color: var(--color-gray-14);
}


.text-subtitle {
    margin-bottom : 0;
    font-family: var(--font-1);
    font-size: var(--text-size);
    font-weight: 500;
    color: var(--color-text-dark);
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 0;
    margin-bottom: var(--vspace-0_5);
}


.text-huge-title{
    --text-huge: 8rem;
    --text-multiplier: 1;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: calc(var(--text-huge)* var(--text-multiplier));
    line-height: 1.0638;
    letter-spacing: -0.02em;
    color: var(--color-text-dark);
    margin-top: 0;
}



 .link-list {
    list-style  : none;
    margin-left : 0;
}

.s-footer .link-list li {
    padding-left : 0;
}

.s-footer .link-list a {
    color  : var(--color-text);
    border : none;
}

.s-footer .link-list a:focus,
.s-footer .link-list a:hover {
    color : var(--color-1);
}







.s-footer__bottom {
    font-size   : var(--text-sm);
    line-height : var(--vspace-0_75);
    color       : var(--color-gray-14);
}


@media screen and (max-width: 1175px) {
    .contact-header {
        justify-content: center;
        display: grid;
        margin-bottom : var(--vspace-2);
        grid-row: 2/3;
        grid-column: 2/5;
    }

    .footer-contact {
        padding-top:3rem;
        grid-row: 3;
        grid-column: 1/4;
    }

    .getintouch {
        display: grid;
    }

    .text-huge-title{
        grid-row:2;
        grid-column: 1/2;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(5, 20%);

    }
}
