@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Inter:wght@300;400;500;600;700&display=swap");

:root {

    --minFontSize: 32px;
    --maxFontSize: 200px;

    background-color: rgb(24, 26, 27);
    -webkit-font-smoothing: antialiased;
    --font-1: "Inter", sans-serif;
    --font-2: "Castoro", serif;
    --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;
    --base-size: 62.5%;
    --multiplier: 1;
    --base-font-size: calc(1.9rem * var(--multiplier));
    --space: calc(3.2rem * var(--multiplier));
    --vspace-0_125: calc(0.125 * var(--space));
    --vspace-0_25: calc(0.25 * var(--space));
    --vspace-0_375: calc(0.375 * var(--space));
    --vspace-0_5: calc(0.5 * var(--space));
    --vspace-0_625: calc(0.625 * var(--space));
    --vspace-0_75: calc(0.75 * var(--space));
    --vspace-0_875: calc(0.875 * var(--space));
    --vspace-1: calc(var(--space));
    --vspace-1_25: calc(1.25 * var(--space));
    --vspace-1_5: calc(1.5 * var(--space));
    --vspace-1_75: calc(1.75 * var(--space));
    --vspace-2: calc(2 * var(--space));
    --vspace-2_5: calc(2.5 * var(--space));
    --vspace-3: calc(3 * var(--space));
    --vspace-3_5: calc(3.5 * var(--space));
    --vspace-4: calc(4 * var(--space));
    --vspace-4_5: calc(4.5 * var(--space));
    --vspace-5: calc(5 * var(--space));
    --text-scale-ratio: 1.2;
    --text-size: var(--base-font-size);
    --text-xs: calc((var(--text-size) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-display-1: calc(var(--text-xxxl) * var(--text-scale-ratio));
    --text-display-2: calc(var(--text-display-1) * var(--text-scale-ratio));
    --text-display-3: calc(var(--text-display-2) * var(--text-scale-ratio));
    --vspace-btn: var(--vspace-2);
    --color-border: rgba(0, 0, 0, .08);
    --color-1-lighter: hsla(183, 22%, 68%, 1);
    --color-1-light: hsla(183, 22%, 58%, 1);
    --color-1-dark : hsla(183, 22%, 38%, 1);
    --color-1-darker: hsla(183, 22%, 28%, 1);
    --color-2-lighter: hsla(336, 13%, 36%, 1);
    --color-2-darker: hsla(336, 13%, 5%, 1);
    --color-2-dark : hsla(336, 13%, 10%, 1);
    --color-2-light: hsla(336, 13%, 26%, 1);
    --color-error                  : hsla(359, 100%, 91%, 1);
    --color-success                : hsla(76, 69%, 68%, 1);
    --color-info                   : hsla(205, 82%, 91%, 1);
    --color-notice                 : hsla(51, 100%, 80%, 1);
    --color-error-content          : hsla(359, 50%, 50%, 1);
    --color-success-content        : hsla(76, 29%, 28%, 1);
    --color-info-content           : hsla(205, 32%, 31%, 1);
    --color-notice-content         : hsla(51, 30%, 30%, 1);
    /* shades 
     * generated using 
     * Tint & Shade Generator 
     * (https://maketintsandshades.com/)
     */
     --color-black                  : #000000;
     --color-gray-19                : #0d0f0f;
     --color-gray-18                : #1b1e1e;
     --color-gray-17                : #282d2e;
     --color-gray-16                : #363c3d;
     --color-gray-15                : #444b4c;
     --color-gray-14                : #515a5b;
     --color-gray-13                : #5f696a;
     --color-gray-12                : #6c787a;
     --color-gray-11                : #7a8789;
     --color-gray-10                : #879698;
     --color-gray-9                 : #93a1a2;
     --color-gray-8                 : #9fabad;
     --color-gray-7                 : #abb6b7;
     --color-gray-6                 : #b7c0c1;
     --color-gray-5                 : #c3cbcc;
     --color-gray-4                 : #cfd5d6;
     --color-gray-3                 : #dbe0e0;
     --color-gray-2                 : #e7eaea;
     --color-gray-1                 : #f3f5f5;
     --color-white                  : #ffffff;
     /* buttons
        */
        --color-btn                    : var(--color-gray-4);
        --color-btn-text               : var(--color-text);
        --color-btn-hover              : var(--color-gray-5);
        --color-btn-hover-text         : var(--color-text);
        --color-btn-primary            : var(--color-1-dark);
        --color-btn-primary-text       : var(--color-white);
        --color-btn-primary-hover      : var(--color-text-dark);
        --color-btn-primary-hover-text : var(--color-white);
        --color-btn-stroke             : var(--color-1-dark);
        --color-btn-stroke-text        : var(--color-1-darker);
        --color-btn-stroke-hover       : var(--color-text-dark);
        --color-btn-stroke-hover-text  : var(--color-white);
        /* preloader
         */
        --color-preloader-bg           : #CFE6E8;
        --color-loader                 : var(--color-text-dark);
        --color-loader-light           : var(--color-1-lighter);
        /* others
         */
         --color-body: rgb(30, 61, 63, 1);
        --color-border                 : rgba(0, 0, 0, .08);
        --border-radius                : 3px;
}

:root {
  /* spacing
     * base font size: 19px
     * vertical space unit : 32px
     */
    --base-size        : 62.5%;
    --multiplier       : 1;
    --base-font-size   : calc(1.9rem * var(--multiplier));
    --space            : calc(3.2rem * var(--multiplier));

    /* vertical spacing
     */
    --vspace-0_125     : calc(0.125 * var(--space));
    --vspace-0_25      : calc(0.25 * var(--space));
    --vspace-0_375     : calc(0.375 * var(--space));
    --vspace-0_5       : calc(0.5 * var(--space));
    --vspace-0_625     : calc(0.625 * var(--space));
    --vspace-0_75      : calc(0.75 * var(--space));
    --vspace-0_875     : calc(0.875 * var(--space));
    --vspace-1         : calc(var(--space));
    --vspace-1_25      : calc(1.25 * var(--space));
    --vspace-1_5       : calc(1.5 * var(--space));
    --vspace-1_75      : calc(1.75 * var(--space));
    --vspace-2         : calc(2 * var(--space));
    --vspace-2_5       : calc(2.5 * var(--space));
    --vspace-3         : calc(3 * var(--space));
    --vspace-3_5       : calc(3.5 * var(--space));
    --vspace-4         : calc(4 * var(--space));
    --vspace-4_5       : calc(4.5 * var(--space));
    --vspace-5         : calc(5 * var(--space));

    /* type scale
     * ratio 1:2 | base: 19px
     * -------------------------------------------------------
     *
     * --text-display-3 = (81.70px)
     * --text-display-2 = (68.08px)
     * --text-display-1 = (56.73px)
     * --text-xxxl      = (47.28px)
     * --text-xxl       = (39.40px)
     * --text-xl        = (32.83px)
     * --text-lg        = (27.36px)
     * --text-md        = (22.80px)
     * --text-size      = (19.00px) BASE
     * --text-sm        = (15.83px)
     * --text-xs        = (13.19px)
     *
     * ---------------------------------------------------------
     */
    --text-scale-ratio : 1.2;
    --text-size        : var(--base-font-size);
    --text-xs          : calc((var(--text-size) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm          : calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md          : calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg          : calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl          : calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl         : calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl        : calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-display-1   : calc(var(--text-xxxl) * var(--text-scale-ratio));
    --text-display-2   : calc(var(--text-display-1) * var(--text-scale-ratio));
    --text-display-3   : calc(var(--text-display-2) * var(--text-scale-ratio));

    /* default button height
     */
    --vspace-btn       : var(--vspace-2);
}

/* on  devices below 900px, change the value of '--multiplier'
 * to adjust the values of base font size and vertical space unit.
 */

@media screen and (max-width: 900px) {
    .text-huge-title {
        --text-multiplier: .9;
    }
}
/* on mobile devices below 600px, change the value of '--multiplier'
 * to adjust the values of base font size and vertical space unit.
 */

@media screen and (max-width: 600px) {
    :root {
        --multiplier : .875;
    }
}/* ------------------------------------------------------------------- 
 * responsive:
 * project-wide and shared styles
 * ------------------------------------------------------------------- */
@media screen and (max-width: 900px) {
    .text-pretitle {
        font-size : calc(var(--text-size) * 1.0526);
    }

    .text-huge-title {
        --text-multiplier : .9;
    }
}

@media screen and (max-width: 800px) {
    .text-huge-title {
        --text-multiplier : .84;
    }
}

@media screen and (max-width: 700px) {
    .text-huge-title {
        --text-multiplier : .74;
    }
}

@media screen and (max-width: 600px) {
    .text-huge-title {
        --text-multiplier : .64;
    }
}

@media screen and (max-width: 500px) {
    .text-subtitle {
        font-size : var(--text-sm);
    }

    .text-huge-title {
        --text-multiplier : .58;
    }
}

@media screen and (max-width: 480px) {
    .text-huge-title {
        --text-multiplier : .54;
    }
}

@media screen and (max-width: 400px) {
    .text-huge-title {
        --text-multiplier : .45;
    }
}
/* ------------------------------------------------------------------- 
 * responsive:
 * project-wide and shared styles
 * ------------------------------------------------------------------- */
 @media screen and (max-width: 900px) {
    .text-pretitle {
        font-size : calc(var(--text-size) * 1.0526);
    }

    .text-huge-title {
        --text-multiplier : .9;
    }
}

@media screen and (max-width: 800px) {
    .text-huge-title {
        --text-multiplier : .84;
    }
}

@media screen and (max-width: 700px) {
    .text-huge-title {
        --text-multiplier : .74;
    }
}

@media screen and (max-width: 600px) {
    .text-huge-title {
        --text-multiplier : .64;
    }
}

@media screen and (max-width: 500px) {
    .text-subtitle {
        font-size : var(--text-sm);
    }

    .text-huge-title {
        --text-multiplier : .58;
    }
}

@media screen and (max-width: 480px) {
    .text-huge-title {
        --text-multiplier : .54;
    }
}

@media screen and (max-width: 400px) {
    .text-huge-title {
        --text-multiplier : .45;
    }
}






/* links */


a {
    color      : var(--color-1-dark);
    transition : all 0.3s ease-in-out;
  }

  a:focus,
  a:hover,
  a:active {
    color : var(--color-2-darker);
  }

  a:hover,
  a:active {
    outline : 0;
  }

/* ===================================================================
 * # BUTTONS
 *
 *
 * ------------------------------------------------------------------- */
 .btn,
 button,
 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
     --btn-height            : var(--vspace-btn);
     display                 : inline-block;
     font-family             : var(--font-1);
     font-weight             : 600;
     font-size               : var(--text-xs);
     text-transform          : uppercase;
     letter-spacing          : .35em;
     height                  : var(--btn-height);
     line-height             : calc(var(--btn-height) - 4px);
     padding                 : 0 3.6rem;
     margin                  : 0 0.4rem var(--vspace-0_5) 0;
     color                   : var(--color-btn-text);
     text-decoration         : none;
     text-align              : center;
     white-space             : nowrap;
     cursor                  : pointer;
     transition              : all .3s;
     border-radius           : var(--border-radius);
     background-color        : var(--color-btn);
     border                  : 2px solid var(--color-btn);
     -webkit-font-smoothing  : antialiased;
     -moz-osx-font-smoothing : grayscale;
 }

 .btn:focus,
 button:focus,
 input[type="submit"]:focus,
 input[type="reset"]:focus,
 input[type="button"]:focus,
 .btn:hover,
 button:hover,
 input[type="submit"]:hover,
 input[type="reset"]:hover,
 input[type="button"]:hover {
     background-color : var(--color-btn-hover);
     border-color     : var(--color-btn-hover);
     color            : var(--color-btn-hover-text);
     outline          : 0;
 }

 /* button primary
  */
 .btn.btn--primary,
 button.btn--primary,
 input[type="submit"].btn--primary,
 input[type="reset"].btn--primary,
 input[type="button"].btn--primary {
     background   : var(--color-btn-primary);
     border-color : var(--color-btn-primary);
     color        : var(--color-btn-primary-text);
 }

 .btn.btn--primary:focus,
 button.btn--primary:focus,
 input[type="submit"].btn--primary:focus,
 input[type="reset"].btn--primary:focus,
 input[type="button"].btn--primary:focus,
 .btn.btn--primary:hover,
 button.btn--primary:hover,
 input[type="submit"].btn--primary:hover,
 input[type="reset"].btn--primary:hover,
 input[type="button"].btn--primary:hover {
     background   : var(--color-btn-primary-hover);
     border-color : var(--color-btn-primary-hover);
     color        : var(--color-btn-primary-hover-text);
 }
 /* button modifiers
  */
 .btn.u-fullwidth,
 button.u-fullwidth {
     width        : 100%;
     margin-right : 0;
 }

 .btn--small,
 button.btn--small {
     --btn-height : calc(var(--vspace-btn) - 1.6rem);
 }

 .btn--medium,
 button.btn--medium {
     --btn-height : calc(var(--vspace-btn) + .8rem);
 }

 .btn--large,
 button.btn--large {
     --btn-height : calc(var(--vspace-btn) + 1.6rem);
 }

 .btn--stroke,
 button.btn--stroke {
     background  : transparent !important;
     font-weight : 700;
     border      : 2px solid var(--color-btn-stroke);
     color       : var(--color-btn-stroke-text);
 }

 .btn--stroke:focus,
 button.btn--stroke:focus,
 .btn--stroke:hover,
 button.btn--stroke:hover {
     background : var(--color-btn-stroke-hover) !important;
     border     : 2px solid var(--color-btn-stroke-hover);
     color      : var(--color-btn-stroke-hover-text);
 }

 .btn--pill,
 button.btn--pill {
     padding-left  : 3.2rem !important;
     padding-right : 3.2rem !important;
     border-radius : 1000px !important;
 }


body {
    font-family : var(--font-1);
    font-size   : var(--base-font-size);
    font-weight : 400;
    line-height : var(--vspace-1);
    color       : var(white);

}







@media screen and (max-width: 1400px) {
    :root {
        --multiplier : .875;
    }
  }