/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  right: 0;
  left: 0;
 
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  color-scheme: dark light;
  hanging-punctuation: first last;
  scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    scroll-behavior: smooth;
}

/* Improved heading in supported browsers */
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

P {
    text-wrap: pretty;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  max-width: 100%;
}


/* links */


a {
  color      : var(--color-1-dark);
  transition : all 0.3s ease-in-out;
}

a:focus,
a:hover,
a:active {
  color : var(--color-2-darker);
}

a:hover,
a:active {
  outline : 0;
}



--color-border: rgba(0, 0, 0, .08);
--color-1-lighter: hsla(183, 22%, 68%, 1);
--color-1-light: hsla(183, 22%, 58%, 1);
--color-1-dark : hsla(183, 22%, 38%, 1);
--color-1-darker: hsla(183, 22%, 28%, 1);

--color-2-lighter: hsla(336, 13%, 36%, 1);
--color-2-darker: hsla(336, 13%, 5%, 1);
--color-2-dark : hsla(336, 13%, 10%, 1);
--color-2-light: hsla(336, 13%, 26%, 1);

